h1 {
    background-color: orange;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    width: 760px;
    margin-left: 225px;
    font-size: 2.7em;

}
h2 {
    width: 760px;
    margin-left: 225px;
    border-bottom: solid orange;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    
}
h3 {
    width: 760px;
    margin-left: 225px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.7em;
}

p {
    width: 760px;
    margin-left: 225px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.625em;
}



